@import './global.scss';

.active-weapon {
  border: 2px solid $giwiki-orange;
}

.weapons-filter {
  .active-filter {
    background-color: $giwiki-orange !important;
    color: $giwiki-white !important;
    border: none !important;
    padding: 5px 10px !important;
  }

  button {
    margin-bottom: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: $giwiki-orange;
      color: $giwiki-white;
    }
  }
}

#weapons-list {
  min-height: 500px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-bottom: 3px solid $giwiki-orange;

  .weapon {
    background-color: $giwiki-white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    margin: 15px;

    &:hover {
      border: 2px solid $giwiki-orange;
      cursor: pointer;
    }

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      width: 70px;
      height: auto;
    }
  }
}

.weapon-overlay {
  background-color: white;
  position: absolute;
  bottom: 3px;
  min-height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: none;

  .overlay-close {
    position: absolute;
    top: 0;
    right: 20px;

    button {
      border-style: none;
      background: transparent;
      color: $giwiki-orange;
      cursor: pointer;
      font-size: 12px;
      transition: 0.1s ease-in-out;
      margin-right: 20px;
      padding: 10px;

      i {
        font-size: 18px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .overlay-header {
    padding: 20px 20px 0;
    height: 40px;

    &:hover {
      cursor: pointer;

      .overlay-mobile {
        position: absolute;
        top: 20px;
      }
    }

    .overlay-text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      color: white;
      font-size: 35px;
      display: none;
    }

    .overlay-mobile {
      z-index: 1;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      //display: none;
      height: 3px;
      max-width: 300px;
      width: 100%;
      background: $giwiki-orange;
      border-radius: 10px;
    }
  }

  .weapon-detail {
    display: flex;
    padding: 10px 20px;
    justify-content: center;

    img:nth-child(1) {
      max-width: 100px;
      margin-right: 10px;
    }

    .weapon-header-info {
      display: flex;
      flex-direction: column;
      align-self: center;

      p {
        margin-top: 0;
      }

      .weapon-header-title {
        font-weight: bold;
        color: $giwiki-orange;
      }

      .weapon-header-rarity {
        margin:0;
        i {
          color: $giwiki-orange;
        }
      }
    }
  }
}


/**************/
/***DETAILED***/
/**************/

.weapon-full-detail {
  background-color: white;
  position: absolute;
  bottom: 3px;
  min-height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 0 20px 20px;
  display: none;
  z-index: 1;

  .weapon-hover-close {
    width: 100%;
    height: 40px;
    cursor: pointer;
    //background: black;
  }

  .weapon-full-detail-close {
    //position: absolute;
    //top: 0;
    width: 100%;
    //height: 40px;
    z-index: 3;

    .overlay-mobile {
      z-index: 1;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      //display: none;
      height: 3px;
      max-width: 300px;
      width: 100%;
      background: $giwiki-orange;
      border-radius: 10px;
    }

    .overlay-text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      color: white;
      font-size: 35px;
      display: none;
    }
  }

  .weapon-container {
    display: flex;

    .weapon-main-info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .weapon-img {
        img {
          max-width: 300px;
          height: auto;
        }
      }

      h3 {
        font-weight: bold;
        font-size: 18px;
      }

      .rarity-stars {
        display: flex;

        i {
          color: $giwiki-orange;
        }
      }

      .weapon-type {
        font-size: 18px;
        opacity: 0.7;
      }
    }

    .weapon-group {
      display: flex;
      flex-direction: column;
      align-self: center;

      .weapon-details {
        display: flex;
        flex-direction: row;

        .weapon-stats {
          display: flex;
          flex-direction: column;

          .weapon-stats-level {
            display: flex;

            label {
              font-weight: bold;
              font-size: 18px;
            }

            select {

            }
          }

          .weapon-stats-base-atk {
            display: flex;

            label {
              font-weight: bold;
              font-size: 18px;
            }

            span {

            }
          }

          .weapon-stats-second-stat {
            display: flex;

            label {
              font-weight: bold;
              font-size: 18px;
            }

            .value {
            }

            .format {
            }
          }

          .weapon-passive {
            p {

            }
          }
        }
      }

      .weapon-characters {
        //display: flex;

        .weapon-characters-title {
          h3 {
            margin-bottom: 0;
          }
        }

        .weapon-characters-container {
          display: flex;

          .overlay-character {
            img {
              width: 70px;
              height: auto;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
